@using CIS420Redux.Models.ViewModels
@model StudentCCIndexViewModel
@{
    ViewBag.Title = "GetStudentClinicalCompliances";
}

<div class="panel panel-primary" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Clinical Compliance</h3>
    </div>
</div>

<p>
    <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href = '@Url.Action("DocumentManagement","Home")'">Upload Document</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href = '@Url.Action("Index","UserManagement")'">View Documents</button>
</p>
<table class="table">
    <tr>
        <th>
            Complaince Name
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Is Complaint
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.TypeList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompliant)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>*@
        </tr>
    }

</table>
