@using CIS420Redux.Models.ViewModels
@model IEnumerable<StudentCCIndexViewModel>
@{
    ViewBag.Title = "GetStudentClinicalCompliances";
}

<div class="panel" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Clinical Compliance</h3>
    </div>
</div>

<p style="margin-left: 1%">
    <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("DocumentManagement","Home")'">Upload Document</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("ViewDocument","Home")'">View Documents</button>
</p>
<table class="table table-bordered table-responsive table-hover" style="color: #000000;">
    <tr style="color: #000000; text-decoration:underline;">
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
<table class="table table-bordered table-responsive table-hover" style="color: #000000">
    <tr style="color: #000000; text-decoration: underline;">
        <th>
            Student Number
        </th>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
            Complaince Name
        </th>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
            Expiration Date
        </th>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
            Is Compliant
        </th>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
            Document
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr style="color: black;">
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
        <tr style="color: #000000; text-decoration: underline;">
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.IsComplaint)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.ActionLink("Download Document", "GetDocument", "Home", new { documentId = item.DocumentId }, new { @class = "btn btn-danger" })
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
        </tr>
    }

</table>
