@model CIS420Redux.Models.Student
@{
    ViewBag.Title = "Reports";
}


    <div class="panel" style="margin-top: 15px;">
        <div class="panel-heading" style="background-color: #AD0000; text-align: center;">
            <h3>Create Reports</h3>
        </div>
        </div>


        <div class="panel-body" style="border: 5px solid black;">
            <div class="col-md-4">
                <p>@Html.ActionLink("Student above 2.0 GPA", "GPAReport", "Student", new { gpaThreshold = 2.00 }, false)</p>
                <p>@Html.ActionLink("Student above 2.5 GPA", "GPAReport", "Student", new { gpaThreshold = 2.5M }, false)</p>
                <p>@Html.ActionLink("Student above 3.0 GPA", "GPAReport", "Student", new { gpaThreshold = 3.0M }, false)</p>
                <p>@Html.ActionLink("Student above 3.5 GPA", "GPAReport", "Student", new { gpaThreshold = 3.5M }, false)</p>
            </div>
            <div class="col-md-4" style="margin-left: 50px;">
                <p>@Html.ActionLink("All Students", "StudentReport")</p>
                <p>@Html.ActionLink("Student in Traditonal BSN", "StudentSearch", "Student", new { programThreshold = 1}, false)</p>
                <p>@Html.ActionLink("Student in RN-BSN", "StudentSearch", "Student", new { programThreshold = 2 }, false)</p>
                <p>@Html.ActionLink("Student in MEPN", "StudentSearch", "Student", new { programThreshold = 3 }, false)</p>
            </div>
        </div>
 

