@model IEnumerable<CIS420Redux.Models.POS>

@{
    ViewBag.Title = "Index";
}

<div class="panel" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
        <h3 style="text-align:center">Program of Study</h3>
        </div>

        <p>
            <button class="btn btn-danger col-md-2 pull-left" onclick="location.href='@Url.Action("Create", "POS")'">Create New</button>
        </p>
    <table class="table table-bordered table-responsive table-hover">
        <tr style="color: #000000">
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course12)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course1)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course2)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course3)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course4)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course5)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course6)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course7)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course8)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course9)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course10)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course11)
                </td>
                <td style="color: black">
                    @Html.DisplayFor(modelItem => item.Course12)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    </div>