@model IEnumerable<CIS420Redux.Models.Todo>

@{
    ViewBag.Title = "Index";
}

<div class="panel" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Manage Alerts</h3>
    </div>
</div>

<p style="margin-left: 1%; margin-bottom: 4%">
    <button class="btn btn-danger col-md-2 pull-left" onclick="location.href='@Url.Action("Create", "Todo")'">Create New</button>
</p>

<table class="table table-bordered table-responsive table-hover" style="color: black;">
    <tr>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
<table class="table table-bordered table-responsive table-hover" style="color: #000000">
    <tr style="color: #000000; text-decoration: underline">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td style="border-style: solid; border-width: 2px; text-align:center; border-color: #000000">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
