@model CIS420Redux.Models.Enrollment

@{
    ViewBag.Title = "Details";
}

<div class="panel" style="margin-top:15px; padding: 0px; margin-right: -1px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35);">
        <h3 style="text-align: center">Detail of Grade</h3>
    </div>
</div>

<div>
    <dl class="dl-horizontal" style="color: black;">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Enrollment")'">Back To List</button>
</p>
