@model IEnumerable<CIS420Redux.Models.Event>

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-primary" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: #AD0000; text-align: center;">
        <h3>To-Dos</h3>
    </div>
</div>

<p>
    <button class="btn btn-danger col-md-2 pull-left" onclick="location.href='@Url.Action("Create", "Event")'">Create New</button>
</p>
<table class="table table-bordered table-responsive table-hover" style="color: #000000;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
