<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Of Nursing</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/gif" href="animated_favicon1.gif">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body style="color: #fff">
    <div class="navbar navbar-inverse navbar-fixed-top navbar-bootsnipp animate">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="[navbar-brand]" href="@Url.Action("Index", "Home")" id="loginLink">
                    <img src="~/Content/IMG/Navbar Logo.png" class="img-responsive"/>
                </a>
            </div>
            <div class="col-md-offset-3">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @{
                                if (User.IsInRole("Student"))
                                {
                                <li>@Html.ActionLink("Home", "Dashboard", "Student", null, new { style = "color:red" })</li>
                                            <li><a href="~/Calendar/Demo/selectable.html" style="color: red;">Calendar</a></li>
                                            <li><a href="@Url.Action("Edit","POS")"><font color="red">Program of Study</font></a></li>
                                            <li> @Html.ActionLink("Clinical Compliance", "GetStudentClinicalCompliances", "Student", null, new { style = "color:red" }) </li>
                                            <li> @Html.ActionLink("Alerts", "Index", "Event", null, new { style = "color:red" }) </li>
                                            <li> @Html.ActionLink("Advising", "Advisors", "Advisor", null, new { style = "color:red" }) </li>
                                            @*<li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                        <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                        <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                        <li>@Html.ActionLink("Absence Management", "Index", "Absence")</li>*@
                                }}


                            @{
                                if (User.IsInRole("Advisor"))
                                {
                                    <li>@Html.ActionLink("Home", "Dashboard", "Advisor", null, new { style = "color:red" })</li>
                                            <li><a href="~/Calendar/Demo/selectable.html" style="color: red;">Calendar</a></li>
                                            <li>@Html.ActionLink("Student Records", "StudentRecords", "Advisor", null, new { style = "color: red" })</li>
                                            <li>@Html.ActionLink("Reports", "Reports", "Student", null, new { style = "color:red" })</li>
                                            <li>@Html.ActionLink("Search", "Search", "Admin", null, new { style = "color:red" })</li>
                                            <li>@Html.ActionLink("CRM", "Index", "Student", null, new { style = "color:red" })</li>
                                            @*<li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                        <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                        <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                        <li>@Html.ActionLink("Absence Management", "Index", "Absence")</li>*@
                                }}
                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Admin Home", "Dashboard", "Admin", null, new { style = "color:red" })</li>
                                            <li><a href="~/Calendar/Demo/selectable.html" style="color: red;">Calendar</a></li>
                                            <li>@Html.ActionLink("Manage Users", "Index", "UserManagement", null, new { style = "color:red" })</li>
                                            <li>@Html.ActionLink("CRM", "Index", "Student", null, new { style = "color:red" })</li>
                                            <li>@Html.ActionLink("Reports", "Reports", "Student", null, new { style = "color:red" })</li>
                                            <li>@Html.ActionLink("Search", "Search", "Admin", null, new { style = "color:red" })</li>
                                            @*<li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                        <li>@Html.ActionLink("Absence Management", "Index", "Absence")</li>
                                         <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>*@



                                }}
                            </ul>


                            @Html.Partial("_LoginPartial")
                        </div>
            </div>
        </div>
    </div>
    <div class="container body-content page" >
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>&copy; @DateTime.Now.Year - Nothing But .Net</p>
        </footer>
    </div>
</body>
</html>
