@model CIS420Redux.Models.Course

@{
    ViewBag.Title = "Details";
}

<div class="panel" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color:  rgb(227, 27, 35); text-align: center">
        <h3>Campuses</h3>
    </div>
    </div>

    <div>
        <dl class="dl-horizontal" style="color: black;">

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatalogNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatalogNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Credits)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Credits)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Program.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Program.Name)
            </dd>

        </dl>
    </div>
    <p>
        <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Course")'">Back to List</button>
    </p>
